<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Terminus</title>
  </head>
  <body>
    
    <div class="container">
      <h1><a href="javascript:<%= bookmarklet %>">Terminus</a>.</h1>
      
      <p>This is the holding page. Browsers visiting this page are
        connected to your Terminus server and can be taken over and
        controlled by your Ruby programs.</p>
      
      <p>That big pink title up there is a bookmarklet. Drag it up
        to your bookmarks bar and use it to connect any page on the
        web to your Terminus console.</p>
    </div>
    
    <div class="footer">
      <p>Copyright &copy; 2010&ndash;2011 <a href="http://jcoglan.com">James Coglan</a>.<br>
      Released under the MIT license.<br>
      Source code hosted by <a href="http://github.com/jcoglan/terminus">GitHub</a>.</p>
    </div>
    
  </body>
</html>

