<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Terminus</title>
  </head>
  <body>
    
    <div class="container">
      <h1><a href="javascript:<%= bookmarklet %>">Terminus</a>.</h1>
      
      <p>Terminus is a distributed JavaScript console. You can find out
        more at <a href="http://github.com/jcoglan/terminus">its GitHub page</a>.
        To connect the console to your browser, you&rsquo;ll need this
        bookmarklet. Just drag the word &lsquo;Terminus&rsquo; up to your
        bookmark toolbar and click it to connect any page to your console.</p>
    </div>
    
    <div class="footer">
      <p>Copyright &copy; 2010
      <a href="http://jcoglan.com">James Coglan</a>.
      Released under the MIT license.</p>
    </div>
    
  </body>
</html>

