<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Terminus</title>
  </head>
  <body>
    <h1>Terminus</h1>
    
    <p>Just grab this bookmarklet, yeah?</p>
    <p><a href="javascript:<%= bookmarklet %>">Terminus</a></p>
  </body>
</html>

