<form action="/save" method="post">
  <fieldset>
    <label for="full-name">Name</label>
    <input type="text" id="full-name" name="user[full-name]">
    <input type="submit" value="Save">
  </fieldset>
</form>

<form id="js-form" action="/" method="get">
  <p>The text</p>
  <input type="submit" value="Go">
</form>

<script type="text/javascript">
    $('#js-form').submit(function(event) {
        event.preventDefault();
        $('p').html('Injected with script');
    });
</script>

