<form action="/save" method="post">
  <fieldset>
    <label for="full-name">Name</label>
    <input type="text" id="full-name" name="user[full-name]">
  </fieldset>
  
  <fieldset>
    <label for="description">Description</label>
    <textarea id="description" name="user[description]"></textarea>
  </fieldset>
  
  <fieldset>
    <input type="radio" id="gender_male" name="user[gender]" value="male">
    <label for="gender_male">Male</label>
    <input type="radio" id="gender_female" name="user[gender]" value="female">
    <label for="gender_female">Female</label>
  </fieldset>
  
  <fieldset>
    <label for="active">Active</label>
    <input type="checkbox" id="active" name="user[active]" value="1">
  </fieldset>
  
  <fieldset>
    <label for="state">State</label>
    <select id="state" name="user[state]">
      <option value=""></option>
      <option value="england">England</option>
      <option value="scotland">Scotland</option>
      <option value="wales">Wales</option>
      <option value="ireland">Ireland</option>
    </select>
  </fieldset>
  
  <input type="submit" value="Save">
</form>

<form id="js-form" action="/" method="get">
  <p>The text</p>
  <input type="submit" value="Go">
</form>

<script type="text/javascript">
    $('#js-form').submit(function(event) {
        event.preventDefault();
        $('p').html('Injected with script');
    });
</script>

