<form action="/save" method="post">
  <fieldset>
    <label for="full-name">Name</label>
    <input type="text" id="full-name" name="user[full-name]">
    <input type="submit" value="Save">
  </fieldset>
</form>

