<h1>Hello, Terminus!</h1>

<ul>
  <li><a href="/toc.html">Table of Contents</a></li>
  <li><a id="stat" href="/status.html">Show Status</a></li>
</ul>

<script type="text/javascript">
    $('a#stat').click(function(event) {
        event.preventDefault();
        this.innerHTML = "Everything's just peachy";
    });
</script>

