<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Terminus</title>
  </head>
  <body>
    <% hosts = %w[0.0.0.0 10.0.2.2] %>
    <%= Terminus.javascript_tag hosts.first %>
    <h1>Hello, Terminus!</h1>
  </body>
</html>

