<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Terminus</title>
    <script type="text/javascript" src="/jquery.js"></script>
  </head>
  <body>
  
    <%= yield %>
    
    <% hosts = %w[0.0.0.0 10.0.2.2] %>
    <%= Terminus.driver_script hosts.first %>
  </body>
</html>

