<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Terminus</title>
  </head>
  <body>

    <div class="bg"></div>

    <h1><a href="javascript:<%= bootstrap %>">Terminus</a></h1>

    <p><a href="http://terminus.jcoglan.com">Terminus</a><br>
      Copyright &copy; 2010&ndash;2012 <a href="http://jcoglan.com">James Coglan</a><br>
      Released under the MIT license</p>

  </body>
</html>

