<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Terminus example</title>
    <script type="text/javascript" src="http://localhost:7004/controller.js"></script>
  </head>
  <body>
    
    <h1>Hello, there.</h1>
    
    <form action="/" method="post">
      <input type="checkbox" name="winning" id="winning">
      <label for="winning">Winning?</label>
    </form>
    
  </body>
</html>
