<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Terminus example</title>
    <style type="text/css">
      body {
        background: #e0e0ff;
        color: #333;
        font: 15px FreeSans, Helvetica, Arial, sans-serif;
      }
      
      a {
        font-weight: bold;
        color: #f80046;
      }
    </style>
  </head>
  <body>
    
    <%= yield %>
    
  </body>
</html>
