<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Terminus example</title>
    <style type="text/css">
      body {
        background: #fff;
        color: #333;
        font: 28px FreeSans, Helvetica, Arial, sans-serif;
      }
      
      .container {
        width: 400px;
        margin: 0 auto;
      }
      
      a {
        font-weight: bold;
        color: #28aad4;
      }
    </style>
  </head>
  <body>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
