<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Terminus example</title>
    <script type="text/javascript" src="http://localhost:7004/controller.js"></script>
    
    <style type="text/css">
      body {
        background: #333;
        color: #eee;
        font: 32px FreeSans, Helvetica, Arial, sans-serif;
      }
      
      a {
        font-weight: bold;
        color: #f80046;
      }
    </style>
  </head>
  <body>
    
    <%= yield %>
    
  </body>
</html>
