<h1>Sign up</h1>

<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username"><br>

  <label for="password">Password</label>
  <input type="password" name="password" id="password"></br>

  <input type="radio" name="account_type" value="trial" id="type_trial">
  <label for="type_trial">Web scale</label><br>
  <input type="radio" name="account_type" value="full" id="type_full">
  <label for="type_full">ROFLSCALE!!</label><br>

  <input type="submit" value="Go!">
</form>
